background = #1b1f20
cursor-color = #ffffff
cursor-style = block

# cursor-style
# adjust-cursor-thickness = 2
cursor-style-blink = false
cursor-opacity = .8
shell-integration-features = no-cursor


#font style
font-size = 11
font-thicken = true
# font-thicken-strength = 100
font-family =  Meslo LG M Regular Nerd Font Complete Mono
font-feature = -calt
